{% extends "base_plugin.html" %}

{% set logo_frame = false %}

<!-- set update_interval to a value > 0 (in milliseconds) to enable periodic data updates -->
{% set update_interval = 0 %}

<!--
	Additional script tag for plugin specific javascript code go into this block
-->
{% block pluginscripts %}
<script>
	function handleUpdatedData(response, dataSet=null) {
		if (dataSet === 'devices_info' || dataSet === null) {
			var objResponse = JSON.parse(response);
			myProto = document.getElementById(dataSet);
			for (var device in objResponse) {
				/*
				shngInsertText (device+'_source', objResponse[device]['source']);
				shngInsertText (device+'_powerState', objResponse[device]['powerState']);
				*/
			}
		}
	}
</script>

<script>
	$(document).ready( function () {
		$(window).trigger('datatables_defaults'); // loading default behaviour
		try {
			$('#maintable').DataTable( {} );
            $('#mtable2').DataTable( {} );
			}
		catch (e) {
			console.log("Datatable JS not loaded, showing standard table without reorder option " + e)
			}
		});
</script>
{% endblock pluginscripts %}


{% block headtable %}
<table class="table table-striped table-hover">
	<tbody>
		<tr>
			<td class="py-1" width="150px"><strong>{{ _('Verbunden') }}</strong></td>
			<td class="py-1">{% if p._db._connected %}{{ _('Ja') }}{% else %}{{ _('Nein') }}{% endif %}</td>
			<td class="py-1" width="150px"><strong>{{ _('Treiber') }}</strong></td>
			<td class="py-1">{{ p.db_driver }}</td>
			<td class="py-1" width="150px"><strong>{{ _('Startup Delay') }}</strong></td>
			<td class="py-1">{{ (p.startup_run_delay) }}s</td>
		</tr>
		{% set first = True %}
		{% for key, value in p._db._params.items() %}
			{% if loop.index % 4 == 0 %}
				<tr>
				{% endif %}
					{% if key != "passwd" %}
					<td class="py-1"><strong>{{ key }}</strong></td><td class="py-1">{{ value }}</td>
					{% else %}
					<td class="py-1"><strong>{{ key }}</strong></td><td class="py-1">{% for letter in value %}*{% endfor %}</td>
					{% endif %}
					{% if loop.index % 3 > 0 and loop.last %}
						<td class="py-1" colspan="{{ loop.index % 3 }}"></td>
					{% endif %}
				{% if loop.index % 4 == 0 and not first %}
				</tr>
			{% endif %}
		{% endfor %}
	</tbody>
</table>
{% endblock headtable %}


<!--
	Additional buttons for the web interface (if any are needed) - displayed below the headtable-section
-->
{% block buttons %}
	<div>
		<button type="button" class="btn btn-shng btn-sm" onclick="if (confirm('{{ _('Recalculation of all items?') }}')) { jQuery.get('recalc_all'); }">{{_('Re-evaluate all')}}</button>
		<button type="button" class="btn btn-shng btn-sm" onclick="if (confirm('{{ _('Clean all cache dicts?') }}')) { jQuery.get('clean_cache_dicts'); }">{{_('Clean cache dicts')}}</button>
	</div>
{% endblock %}

<!--
	Define the number of tabs for the body of the web interface (1 - 6)
-->
{% set tabcount = 2 %}


<!--
	Set the tab that will be visible on start, if another tab that 1 is wanted (1 - 3)
-->
{% if p._item_dict %}
	{% set start_tab = 1 %}
{% endif %}


<!--
	Content block for the first tab of the Webinterface
-->
{% set tab1title = "<strong>" ~ p.get_shortname() ~ " Items</strong> " %}
{% block bodytab1 %}

<div class="table-responsive" style="margin-left: 3px; margin-right: 3px;" class="row">
    <div class="col-sm-12">
		<table id="maintable" class="table table-striped table-hover pluginList display">
			<thead>
				<tr>
					<th>{{_('Item')}}</th>
					<th>{{_('Typ')}}</th>
					<th>{{_('AddOn Attribute')}}</th>
					<th>{{_('Update Cycle')}}</th>
					<th>{{_('Run on init')}}</th>
					<th>{{_('Wert')}}</th>
					<th>{{_('Letztes Update')}}</th>
					<th>{{_('Letzter Change')}}</th>
				</tr>
			</thead>
			<tbody>
				{% for item in p._item_dict %}
					<tr>
						<td class="py-1">{{ item._path }}</td>
						<td class="py-1">{{ item._type }}</td>
						<td class="py-1">{{ p._item_dict[item][0] }}</td>
						{%  if item is in p._daily_items %}
							<td class="py-1" style="text-align: center">{{_('täglich')}}</td>
						{%  elif item is in p._weekly_items %}
							<td class="py-1" style="text-align: center">{{_('wöchentlich')}}</td>
						{%  elif item is in p._monthly_items %}
							<td class="py-1" style="text-align: center">{{_('monatlich')}}</td>
						{%  elif item is in p._yearly_items %}
							<td class="py-1" style="text-align: center">{{_('jährlich')}}</td>
						{%  elif item is in p._onchange_items %}
							<td class="py-1" style="text-align: center">{{_('on-change')}}</td>
						{% else %}
							<td class="py-1" style="text-align: center">-</td>
						{% endif %}
						{%  if item is in p._startup_items %}
							<td class="py-1" style="text-align: center">{{_('yes')}}</td>
						{% else %}
							<td class="py-1" style="text-align: center">-</td>
						{% endif %}
						<td class="py-1" style="text-align: right">{{ item.property.value | float }}</td>
						<td class="py-1">{{ item.property.last_update.strftime('%d.%m.%Y %H:%M:%S') }}</td>
						<td class="py-1">{{ item.property.last_change.strftime('%d.%m.%Y %H:%M:%S') }}</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
</div>
{% endblock bodytab1 %}


{% set tab2title = "<strong>" ~ p.get_shortname() ~ " Maintenance</strong>" %}
{% block bodytab2 %}
<div class="table-responsive" style="margin-left: 3px; margin-right: 3px;" class="row">
    <div class="col-sm-12">
		<table id="mtable2" class="table table-striped table-hover pluginList display">
			<thead>
				<tr>
					<th>{{ _('dict/list') }}</th>
					<th>{{ _('content') }}</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td class="py-1">{{ _('_item_dict') }}</td>
					<td class="py-1">{{ p._item_dict }}</td>
				</tr>
				<tr>
					<td class="py-1">{{ _('_daily_items') }}</td>
					<td class="py-1">{{ p._daily_items }}</td>
				</tr>
				<tr>
					<td class="py-1">{{ _('_weekly_items') }}</td>
					<td class="py-1">{{ p._weekly_items }}</td>
				</tr>
				<tr>
					<td class="py-1">{{ _('_monthly_items') }}</td>
					<td class="py-1">{{ p._monthly_items }}</td>
				</tr>
				<tr>
					<td class="py-1">{{ _('_yearly_items') }}</td>
					<td class="py-1">{{ p._yearly_items }}</td>
				</tr>
				<tr>
					<td class="py-1">{{ _('_onchange_items') }}</td>
					<td class="py-1">{{ p._onchange_items }}</td>
				</tr>
				<tr>
					<td class="py-1">{{ _('_meter_items') }}</td>
					<td class="py-1">{{ p._meter_items }}</td>
				</tr>
				<tr>
					<td class="py-1">{{ _('_startup_items') }}</td>
					<td class="py-1">{{ p._startup_items }}</td>
				</tr>
				<tr>
					<td class="py-1">{{ _('_database_items') }}</td>
					<td class="py-1">{{ p._database_items }}</td>
				</tr>
				<tr>
					<td class="py-1">{{ _('_static_items') }}</td>
					<td class="py-1">{{ p._static_items }}</td>
				</tr>
				<tr>
					<td class="py-1">{{ _('_itemid_dict') }}</td>
					<td class="py-1">{{ p._itemid_dict }}</td>
				</tr>
				<tr>
					<td class="py-1">{{ _('tageswert_dict') }}</td>
					<td class="py-1">{{ p.tageswert_dict }}</td>
				</tr>
				<tr>
					<td class="py-1">{{ _('wochenwert_dict') }}</td>
					<td class="py-1">{{ p.wochenwert_dict }}</td>
				</tr>
				<tr>
					<td class="py-1">{{ _('monatswert_dict') }}</td>
					<td class="py-1">{{ p.monatswert_dict }}</td>
				</tr>
				<tr>
					<td class="py-1">{{ _('jahreswert_dict') }}</td>
					<td class="py-1">{{ p.jahreswert_dict }}</td>
				</tr>
				<tr>
					<td class="py-1">{{ _('vortagsendwert_dict') }}</td>
					<td class="py-1">{{ p.vortagsendwert_dict }}</td>
				</tr>
				<tr>
					<td class="py-1">{{ _('vorwochenendwert_dict') }}</td>
					<td class="py-1">{{ p.vorwochenendwert_dict }}</td>
				</tr>
				<tr>
					<td class="py-1">{{ _('vormonatsendwert_dict') }}</td>
					<td class="py-1">{{ p.vormonatsendwert_dict }}</td>
				</tr>
				<tr>
					<td class="py-1">{{ _('vorjahresendwert_dict') }}</td>
					<td class="py-1">{{ p.vorjahresendwert_dict }}</td>
				</tr>
				<tr>
					<td class="py-1">{{ _('_oldest_log_dict') }}</td>
					<td class="py-1">{{ p._oldest_log_dict }}</td>
				</tr>
				<tr>
					<td class="py-1">{{ _('_oldest_entry_dict') }}</td>
					<td class="py-1">{{ p._oldest_entry_dict }}</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
{% endblock bodytab2 %}

